.App {
  text-align: center;
}
.container{
  text-align: center;
  margin-left: 660px;
  margin-top: 150px;
  padding: 60px;
  background-color: #000;
  box-shadow: 1px lightgrey;
  max-width: fit-content;
}
.Name{
  color: rgb(242, 235, 38);
}
.input{
  border-color: rgb(242, 235, 38);
  width: 200px;
  height: 30px;
  text-align: center;
  background: none;
  color: aliceblue;
  border-radius: 0.5rem;

}
.calculate{
  background-color: rgb(242, 235, 38);
  color:#000;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  /* font-weight: 500; */
}
.msg{
  color: rgb(242, 235, 38);
}
@media screen and (max-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    padding: 30px; 
    max-width: 80%;
  }
}



